@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;

    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

* {
    box-sizing: border-box;
}

.header-container {
    width: 100%;
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-logo {
    padding-left: 79px;
    font-weight: 700;
    font-size: 22px;
    transition: 0.3s;
}

.header-logo a:hover {
    color: #236C47;
    transition: 0.3s;
}

.header-icons-welcome {
    display: flex;
    align-items: center;
    padding-right: 79px;
}

.header-icons-list {
    padding: 0 25px 0 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.icon {
    margin-left: 25px;
}

svg path:hover{
    fill: #236C47;
}

.header-line {
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
}

.header-welcome {
    padding: 0 0 0 25px;
    transition: 0.3s;
    font-size: 14px;
}

.header-welcome span a:hover {
    color: #236C47;
    transition: 0.3s;
}

.header-icons-items:hover {
    transition: 0.3s;
    filter: invert(17%) sepia(80%) saturate(6298%) hue-rotate(156deg) brightness(98%) contrast(99%);
}

.enter-section {
    margin-top: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-table {
    width: 444px;
    height: 600px;
    background: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    position: relative;
    margin-bottom: 74px;
}
.enter-table::before{
    content: url("../img/icons/shape.png");
    position: absolute;
    left: 0px;
    top: 29px;
}



/*.enter-green-square {*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 29px;*/
/*    width: 18px;*/
/*    height: 18px;*/
/*    background-color: #3CB878;*/
/*}*/

.enter-choose {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 31px 59px 0 61px;
}


.enter-sign-in {
    font-size: 20px;
    transition: 0.3s;
}

.enter-sign-in a {
    color: #000;
    transition: 0.3s;
}

.enter-log-in {
    font-size: 14px;
    transition: 0.3s;
}

.enter-log-in a {
    color: #3CB878;
    transition: 0.3s;
}

.enter-log-in:hover {
    text-decoration: underline;
    color: #3CB878;
    transition: 0.3s;
}

.enter-sign-in:hover {
    text-decoration: underline;
    transition: 0.3s;
}

.enter-buttons {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    position: relative;
}

.enter-buttons p {
    color: #FFFFFF;
    font-size: 16px;
}

.facebook, .google {
    border-radius: 5px;
    width: 160px;
    height: 48px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    position: relative;
}

.facebook img {
    position: absolute;
    left: 16.77px;
    width: 12px;
    height: 24px;
}

.enter-facebook-line {
    position: absolute;
    left: 48px;
}

.facebook {
    background-color: #305DB8;
}

.facebook p {
    position: absolute;
    right: 22px;
}

.facebook:hover {
    background-color: #022263;
    transition: 0.3s;
}

.google {
    background-color: #DF4A32;
}


.google:hover {
    background-color: #AB1F09;
    transition: 0.3s;
}

.google img {
    width: 30px;
    height: 19px;

    position: absolute;
    left: 12px;
}

.google p {
    position: absolute;
    right: 27px;
}

.enter-facebook-line {
    position: absolute;
    left: 49px;
    width: 1px;
    height: 28px;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
}

.enter-google-line {
    position: absolute;
    left: 49px;
    width: 1px;
    height: 28px;
    background: #2B0D09;
    mix-blend-mode: normal;
    opacity: 0.1;
}

.or {
position: relative;
    padding: 31px 0 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 322px;
    color: #848484;
    font-size: 14px;

}

.or::before{
    position: absolute;
    content: url("../img/icons/line.png");
    width: 152px;
    left: 0;
    top: 50%;
    transform: translate(0, -25%);
}
.or::after {
    position: absolute;
    content: url("../img/icons/line.png");
    width: 152px;
    right: 0;
    top: 50%;
    transform: translate(0, -25%);
}

.form-input {
    box-sizing: border-box;
    padding: 15px 0 15px 20px;
    width: 322px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 16px;
}

.checkbox-label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.checkbox-input {
    display: none;
}

.checkbox-box {
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    flex-shrink: 0;
}


.checkbox-input:checked + .checkbox-box {
    content: url("../img/icons/mark.svg");
}

.green {
    color: #3CB878;
}

.checkbox-label a {
    padding-left: 4px;
    color: #3CB878;
}

.checkbox-label a:hover {
    color: #01813F;
    border-bottom: 1px solid #01813F;
    padding-bottom: 2px;
}

.enter-personal-info {
    margin-left: 61px;
}

.submit {
    padding-top: 20px;
}

.submit-input {
    margin-top: 20px;
    cursor: pointer;
    width: 324px;
    height: 46px;
    left: 60px;
    color: #FFFFFF;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: 1px solid rgba(60, 184, 120, 0.8);
    transition: 0.3s;
}

.submit-input:hover {
    background: #01813F;
    transition: 0.3s;
}

input:focus {
    color: black;
    background: #FFFFFF;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    margin: 0 auto;
}






